.remove-tag {
    float: right;
}

.tags-list-tag {
    border-bottom: 1px solid var(--bot-cell-border-color);
}

/* .tags-list-tag:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
} */

.tags-list-tag-header {
    padding: 2px 4px;
    display: flex;
}

.tags-list-tag-value {
    border-top: 1px solid var(--bot-cell-border-color);
}

.tags-list-tag.selected > .tags-list-tag-header {
    background-color: rgba(0, 0, 0, 0.1);
}

.tags-list-tag-header > .tag.bot-tag {
    flex: 1 1 auto;
}
