.remove-tag {
    float: right;
}

.tags-list-tag:hover .pin-tag {
    display: inline-block;
}

.pin-tag {
    float: right;
    display: none;
}

.pin-tag.md-button {
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin: 0;
}

.pin-tag .md-icon {
    font-size: 16px !important;
}

.tags-list-tag {
    border-bottom: 1px solid var(--bot-cell-border-color);
}

/* .tags-list-tag:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
} */

.tags-list-tag-header {
    padding: 2px 4px;
    display: flex;
}

.tags-list-tag-value {
    border-top: 1px solid var(--bot-cell-border-color);
}

.tags-list-tag.selected > .tags-list-tag-header {
    background-color: rgba(0, 0, 0, 0.1);
}

.tags-list-tag-header > .tag.bot-tag {
    flex: 1 1 auto;
}

.tags-list-tag-value.read-only {
    padding: 4px;
    background-color: #fff;
    color: #999;
}

.tags-list-tag-value.id {
    cursor: pointer;
}

.tag-space {
    flex: 0 0 auto;
    font-size: 12px;
    color: #000;
    margin: -2px 4px;
    padding: 0 1px;
    background-color: rgba(0, 0, 0, 0.1);
    line-height: 26px;
}
