iframe.auth-helper-iframe {
    position: absolute;
    z-index: 999;

    width: 400px;
    height: 500px;

    top: calc(50% - 250px);
    left: calc(50% - 200px);

    border-radius: 16px;
    border: none;
}

.md-dialog.input-dialog ~ .md-overlay.md-fixed.md-dialog-overlay {
    z-index: 19;
}

.md-datepicker-dialog {
    z-index: 21 !important;
}

.md-datepicker.md-field.md-theme-dark > .md-icon:after {
    background-color: transparent;
}
