
.files-header {
    margin-top: 0;
}

.game-view {
    position: relative;
}

.ui-container {
    padding: 16px;
}

@media(min-width: 1024px) {
    .info-card {
        max-width: 66%;
    }
}

@media(max-width: 425px) {
    .info-card {
        margin: -16px;
    }

    .info-card .md-card-content .file-table {
        margin: 0 -16px;
    }
}

.info-card .md-card-content {
    max-height: 500px;
    overflow-y: auto;
}

.status-container {
    margin-top: 24px;
    text-align: center;
}

.md-checkbox.no-margin {
    margin: 0;
}

.context-menu {
    position: absolute;
    background-color: #fff;
}