node_modules
dist
temp
lib
api-docs
coverage
test-report.html
bundle_stats.json
server_bundle_stats.json
web_bundle_stats.json
junit.xml
ecosystem.json
.npmrc
*.tsbuildinfo
*.d.ts.map
.DS_Store
docs/yarn.lock
