<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta
            http-equiv="Content-Security-Policy"
            content="default-src 'self' https://auth.magic.link/; img-src 'self' https://*; style-src 'self' 'unsafe-inline'; child-src 'self'; frame-src https://auth.magic.link https://casualos.readyplayer.me; script-src 'self' https://auth.magic.link <%= !production ? `'unsafe-eval'` : `` %>; connect-src 'self' <%= allowedFetchOrigins %> https://render.readyplayer.me https://scripts.simpleanalyticscdn.com"
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
        />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta
            name="apple-mobile-web-app-status-bar-style"
            content="black-translucent"
        />
        <link rel="shortcut icon" href="./shared/favicon.ico" />
        <style>
            body {
                margin: 0;
                touch-action: manipulation;
                overscroll-behavior: none;
                font-family: Roboto, apple-system, BlinkMacSystemFont,
                    'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Fira Sans',
                    'Droid Sans', 'Helvetica Neue', Arial, sans-serif,
                    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
            }
        </style>
    </head>

    <body>
        <div id="app"></div>
        <div id="loading"></div>

        <script type="module" src="./site/index.ts"></script>

        <script
            async
            defer
            src="https://scripts.simpleanalyticscdn.com/latest.js"
        ></script>
        <noscript
            ><img
                src="https://queue.simpleanalyticscdn.com/noscript.gif"
                alt=""
                referrerpolicy="no-referrer-when-downgrade"
        /></noscript>
    </body>
</html>
