.bots-header {
    margin-top: 0;
}

.info-card .md-card-content {
    max-height: 500px;
    overflow-y: auto;
    padding: 8px 0;
}

.status-container {
    margin-top: 24px;
    text-align: center;
}

.md-checkbox.no-margin {
    margin: 0;
}

.context-menu {
    position: absolute;
    background-color: #fff;
}

.ui-container .outside-toggle {
    padding-top: 8px;
}

.no-bots-message {
    text-align: center;
}

.md-list-item.double-line .md-list-item-text > span + span {
    font-size: 12px;
    white-space: initial;
    text-overflow: initial;
}

.md-list-item.md-theme-dark.double-line .md-list-item-text > span + span {
    color: var(--md-theme-dark-text-alternate-on-background, #ddd);
}

.md-list-item.md-theme-default.double-line .md-list-item-text > span + span {
    color: var(--md-theme-default-text-alternate-on-background, #999);
}

.md-list-item.double-line .md-list-item-content {
    min-height: 54px;
}

.md-theme-dark .selection-bios-description {
    color: var(--md-theme-dark-text-alternate-on-background, #ddd);
}

.md-theme-default .selection-bios-description {
    color: var(--md-theme-default-text-alternate-on-background, #999);
}

.selection-bios-description {
    display: inline-block;
    max-width: 240px;
}

.spacer {
    flex: 1 1 auto;
}

.md-dialog-title.logo-title {
    padding: 20px 20px 0;
    margin-bottom: 0;
}

.logo {
    max-height: 750px;
}

.policies-grid {
    display: flex;
    margin-top: 14px;
}
