.bot-id.clonable {
    cursor: pointer;
    text-align: center;
}

.bot-id.header {
    font-weight: 700;
    text-align: center;
    overflow-x: hidden;
    white-space: nowrap;
    cursor: pointer;
}
