.game-canvas {
    position: relative;
    touch-action: none;
}

html.ar-app,
html.ar-app body,
html.ar-app .md-content {
    background-color: transparent !important;
}

html.ar-app .webxr-sessions canvas {
    top: 0px;
}

.game-container {
    margin: -16px;
}

.toolbar {
    position: absolute;
    bottom: 2vh;
    left: 2vw;
}

.vr-button-container {
    margin-left: 16px;
}

.menu-layout {
    margin-top: 8px;
}

.menu-items {
    max-height: 250px;
    overflow-y: auto;
}
