.terms-container {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 24px;
}

.table-of-contents {
    padding-left: 40px;
    padding-right: 40px;
}

.terms-container .md-card-content {
    font-size: 16px;
}

.terms-container h3 ol {
    padding-inline-start: 40px;
}

.terms-container .terms-of-service-content ul {
    padding-inline-start: 80px;
}

.terms-container .terms-of-service-content p {
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
}
