.delete-bot-layout {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 150px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.delete-bot-icon {
    font-size: 64px !important;
}

.md-icon.delete-bot-icon:hover {
    color: #ff0000;
}
