.file-id.clonable {
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.file-id.header {
    font-weight: 700;
    text-align: center;
    overflow-x: hidden;
    white-space: nowrap;
    cursor: pointer;
}
