.hashtag {
    color: #2F8DFE;
}

.tag-name {
    font-weight: 700;
}

.tag-value {
    font-weight: normal;
}

.event-name {
    color: #FE772F;
}

.filter-condition {
    padding: 4px;
    border: solid 1px #000;
    border-radius: 3px;
}