iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@media(min-width: 900px) {
    iframe {
        min-width: 800px;
        min-height: 500px;
    }
}

@media(min-width: 600px) {
    iframe {
        min-width: 80vw;
        min-height: 80vh;
    }
}

.avatar-dialog .md-dialog-content {
    padding: 0;
}
