.title-img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    fill: #0000;
}

.title-link:hover {
    text-decoration: none !important;
    color: inherit !important;
}

.md-app-toolbar .md-tabs.md-theme-default .md-tabs-navigation {
    color: var(--md-theme-default-text-primary-on-background-variant, #777);
    background-color: var(--md-theme-default-toolbarvariant, #f5f5f5);
}
