
lib/*.js
lib/*.js.map
lib/*.d.ts
monaco/typescript/lib/typescriptServicesMetadata.d.ts
monaco/typescript/lib/typescriptServicesMetadata.js
monaco/typescript/lib/typescriptServicesMetadata.js.map
!gulpfile.js
!typings/**/*
docs

!lib/
package-lock.json