.console {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    background-color: #fff;
}

.console-toolbar {
    background-color: #ededed;
    height: 64px;
    line-height: 64px;
    padding: 0 8px;
    border-bottom: solid 1px #ccc;
}

.close-button-container {
    padding-top: 16px;
}

.console-toolbar .close-button {
    float: right;
}

.messages {
    background-color: #fff;
    overflow-y: auto;
    max-height: calc(100% - 64px);
}
