version: '3.7'
services:
    server:
        image: 'casualsimulation/aux-arm32:latest'
        privileged: true
        restart: always
        ports:
            - '3000:3000'
            - '4567:4567'
        depends_on:
            - mongo
            - redis
        environment:
            NODE_ENV: production
            MONGO_URL: 'mongodb://mongo:27017'
            REDIS_HOST: 'redis'
            REDIS_PORT: '6379'
            PROXY_TUNNEL: 'wss://proxy.auxplayer.com'
            UPSTREAM_DIRECTORY: 'https://auxplayer.com'
        volumes:
            - 'usb-drive:/usr/src/app/drives'
            - '/data/bt-serial:/data/bt-serial'
            - '/dev:/dev'
    mongo:
        image: 'casualsimulation/rpi-mongodb3:latest'
        restart: always
        ports:
            - '27017:27017'
        volumes:
            - '/data/db:/data/db'
    redis:
        image: 'arm32v7/redis:latest'
        restart: always
        ports:
            - '6379:6379'
        volumes:
            - '/data/cache:/data'
    nginx:
        image: 'nginx:alpine'
        restart: always
        ports:
            - '80:80'
            - '443:443'
        volumes:
            - '/data/nginx:/etc/nginx/conf.d'
volumes:
    usb-drive:
        driver: local
        driver_opts:
            type: none
            o: bind
            device: /data/drives
