.game-canvas {
    position: absolute;
    touch-action: none;
    top: 0;
    z-index: 1;
}

.map-canvas {
    position: absolute;
    touch-action: none;
    top: 0;
    z-index: 1;
}

.game-background {
    position: absolute;
    touch-action: none;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.map-canvas > .esri-view-root,
.map-canvas > .esri-view-root > .esri-view-surface,
.map-viewport > .esri-view > .esri-view-root,
.map-viewport > .esri-view > .esri-view-root > .esri-view-surface {
    width: 100%;
    height: 100%;
}

html.ar-app,
html.ar-app body,
html.ar-app .md-content {
    background-color: transparent !important;
}

html.ar-app .webxr-sessions canvas {
    top: 0px !important;
}

.toolbar {
    position: absolute;
    bottom: 0.75vh;
    left: 1vw;
}

.viewport {
    position: absolute;
    pointer-events: none;
}

.map-viewport {
    position: absolute;
    pointer-events: none;
    z-index: 1;
}

.map-viewport > div {
    width: 100%;
    height: 100%;
}

.game-container {
    position: relative;
    overflow: hidden;
}

.toolbar.right {
    left: auto;
    right: 8px;
    bottom: 8px;
    user-select: none;
    pointer-events: auto;
    z-index: 0;
}

.toolbar.right > * {
    padding-bottom: 5px;
}

.toolbar.menu {
    position: absolute;
    bottom: 8px;
    left: 33%;
    width: 33%;
    z-index: 3;
    max-height: calc(100% - 16px);
    overflow-y: auto;
}

@media (max-width: 768px) {
    .toolbar.menu {
        left: 5%;
        width: 90%;
    }
}

@media (min-width: 768px) and (max-aspect-ratio: 1/1) {
    .toolbar.menu {
        left: 20%;
        width: 60%;
    }
}

.vr-button-container {
    margin-left: 16px;
}

.menu-layout {
    min-width: 200px;
}

.menu-items {
    max-height: 250px;
    overflow-y: auto;
}

.slider-hidden {
    position: absolute;
    cursor: ns-resize;
    width: 30px;
    height: 36px;
    background-color: purple;
    opacity: 0;
    top: 50%;
    overscroll-behavior: none;
    overflow-y: hidden;
    touch-action: none;

    z-index: 2;
}

.md-badge.md-primary.menu-badge {
    background-color: #c5c5c5;
    color: rgba(0, 0, 0.54);
}

.menu .md-list.md-theme-default,
.menu .md-list.md-theme-dark {
    background-color: transparent;
}
