.terms-of-service-wrapper {
    display: flex;
    align-items: center;
}

.terms-of-service-error {
    color: #c93131;
}

.display-name-field.md-invalid {
    margin-bottom: 44px;
}

.spacer {
    flex: 1 1 auto;
}
