.menu-header {
    margin: 16px;
    padding-bottom: 8px;
}

.app-content {
    padding: 16px;
}

#checkmark-icon.synced-checkmark {
    color: #13bd13b4;
}

#warning-icon.not-synced-warning {
    color: #ff8a1cb4;
}