.menu-header {
    margin: 16px;
    padding-bottom: 8px;
}

.app-content {
    padding: 16px;
}

#synced-checkmark {
    color: #13bd13b4;
}

#not-synced-warning {
    color: #ff8a1cb4;
}

#forced-offline-error {
    color: #ff1c1cb4;
}