.menu-header {
    margin: 16px;
    padding-bottom: 8px;
}

.app-content {
    padding: 16px;
}

#synced-checkmark {
    color: #13bd13b4;
}

#not-synced-warning {
    color: #ff8a1cb4;
}

#forced-offline-error {
    color: #ff1c1cb4;
}

#fix-merge-conflicts-icon {
    color: #ff1c1cb4;
}

.md-list-item-container:not([disabled]) .md-icon.md-theme-default.md-icon-font.nuke-everything-icon {
    color: #ff1c1cb4;
}

.md-list.md-theme-default .nuke-site-item .md-list-item-container:not(.md-list-item-default):not([disabled]):hover {
    background-color: #fc0e0eda;
    color: #eee;
}

.md-list-item-container:hover:not([disabled]) .md-icon.md-theme-default.md-icon-font.nuke-everything-icon {
    color: inherit;
}

/* Only visible to screen readers */
.sr-only {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }