.mtk100.Identifier.JsxElement.Bracket {
    color:#2873c1;
}

.mtk1000.Identifier.JsxOpeningElement.Bracket {
    color:#2873c1;
}

.mtk1001.Identifier.JsxClosingElement.Bracket {
    color:#2873c1;
}

.mtk101.Identifier.JsxOpeningElement.Identifier {
    color: #2873c1;
    font-weight: 800;
}

.mtk102.Identifier.JsxClosingElement.Identifier {
    color: #2873c1;
    font-weight: 800;
}

.mtk103.Identifier.JsxAttribute.Identifier {
    color: #e87d20;
    font-weight: initial;
}

.mtk104.JsxElement.JsxText {
    color: #000;
}

.mtk105.glyph.Identifier.JsxElement {
    background: #61dafb;
    opacity: 0.25;
}

/*.mtk12.Identifier.JsxExpression.JsxClosingElement {*/
/*color: #ec5f67;*/
/*}*/

/*.mtk12.Identifier.JsxSelfClosingElement {*/
/*color: #ec5f67;*/
/*}*/
/*.mtk12.Identifier.VariableStatement.JsxClosingElement {*/
/*color: #ec5f67 !important;*/
/*}*/
/*.mtk12.VariableStatement.JsxSelfClosingElement.Identifier {*/
/*color: #ec5f67;*/
/*}*/
/*.mtk12.Identifier.JsxAttribute.VariableDeclaration {*/
/*color: crimson;*/
/*}*/
/*.mtk12.JsxExpression.VariableStatement {*/
/*color: #fac863;*/
/*}*/
/*.mtk12.VariableStatement.JsxSelfClosingElement {*/
/*color: #ede0e0;*/
/*}*/
/*.mtk12.VariableStatement.JsxClosingElement {*/
/*color: #ede0e0;*/
/*}*/
/*.JsxText {*/
/*color: #0c141f;*/
/*}*/