.value-input-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}

.value-input {
    overflow: hidden;
    resize: none;
    white-space: nowrap;
    font: 400 13.3333px Arial;
    line-height: 30px;
}

.value-input.formula:focus {
    font-family: Consolas, 'Courier New', monospace;
    letter-spacing: 0;
}

.value-input.script {
    font-family: Consolas, 'Courier New', monospace;
    letter-spacing: 0;
}

.value-input-container .space-indicator {
    position: absolute;
    right: 0;
    max-height: 30px;
    max-width: 30px;
    width: 30px;
    min-width: 30px;
    margin: 0;
    background-color: #dedede;
    border-radius: 0;
}
