.value-input.formula:focus {
    font-family: Consolas, 'Courier New', monospace;
    letter-spacing: 0;
}

.value-input.script {
    font-family: Consolas, 'Courier New', monospace;
    letter-spacing: 0;
}
