.game-canvas {
    position: absolute;
    touch-action: none;
}

html.ar-app,
html.ar-app body,
html.ar-app .md-content {
    background-color: transparent !important;
}

html.ar-app .webxr-sessions canvas {
    position: relative;
    top: 56px;
}

.game-container {
    margin: -16px;
}

.debug-card {
    position: absolute;
    right: 16px;
    bottom: 16px;

    max-height: 90%;
    overflow-y: auto;
}

.toolbar {
    position: absolute;
    bottom: 8px;
    left: 8px;
    max-width: calc(100vw - 16px);
}

.toolbar.right {
    left: auto;
    right: 8px;
    user-select: none;
}

.toolbar-layout {
    display: flex;
    align-items: flex-end;
    padding: 5px 10px;
    line-height: 24px;
    /* background-color: rgba(255,255,255, 1); */
    /* border-radius: 20px; */
    /* color: rgba(0,0,0,0.87); */
    /* box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12); */
}

.toolbar-layout > *:not(:first-child) {
    margin-left: 5px;
}

.toolbar-label {
    align-self: center;
}

.toolbar-button {
    margin: 0;
}

.toolbar-button-icon {
    vertical-align: middle;
    stroke: var(--md-theme-default-text-primary-on-accent, #fff);
    fill: var(--md-theme-default-text-primary-on-accent, #fff);
}

.vr-button-container {
    margin-left: 16px;
}

.divider {
    border-left: #333 1px solid;
}

.md-button.md-theme-default.md-fab:not([disabled]).add-button {
    background-color: #fff;
    color: #777;
}

.md-button.md-theme-default.md-fab:not([disabled]).add-button .md-icon-font {
    color: var(--md-theme-default-text-primary-on-background-variant, #777);
}

.clear-file-queue-button {
    align-self: center;
}
