.tag-portal {
    position: absolute;
    z-index: 3;
    overflow: hidden;
    background: #fff;
}

.tag-portal.invisible {
    display: none;
}

.tag-portal .editor-wrapper {
    height: 100%;
    margin-top: 0;
}

.tag-portal .tag-value-editor-wrapper {
    max-height: 80vh;
}

.other-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.md-button.md-fab.custom-button.md-theme-default {
    background-color: #fff;
}

.md-button.custom-button .md-icon.md-icon-font.md-theme-default {
    color: #333;
}

.custom-button {
    position: absolute;
    bottom: 0;
    right: 0;

    margin-right: 18px;
    margin-bottom: 16px;
}
