.acceptable-use-policy-container {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 24px;
}

.table-of-contents {
    padding-left: 40px;
    padding-right: 40px;
}

.acceptable-use-policy-container .md-card-content {
    font-size: 16px;
}

.acceptable-use-policy-container h3 ol {
    padding-inline-start: 40px;
}

.acceptable-use-policy-container .acceptable-use-policy-content ul {
    padding-inline-start: 80px;
}

.acceptable-use-policy-container .acceptable-use-policy-content p {
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
}
