.checkout-form {
    min-width: 300px;
    padding: 16px;
    overflow-y: auto;
}

.checkout-form-title {
    margin: 0;
}

.checkout-form-description {
    margin-top: 0;
}

.submit-button {
    /* flex: 1 1 auto; */
    width: 100%;
    margin: 0;
}

.cancel-button {
    width: 100%;
}

.error,
.md-field .md-helper-text.error {
    color: #ee1212;
}

.card.error {
    margin-bottom: 8px;
    font-size: 12px;
}

.card-element {
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    padding-bottom: 4px;
    margin-top: 8px;
}

.card-container {
    margin-bottom: 16px;
}

.card-label {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 8px;
}

.progress-area {
    text-align: center;
}

.progress-info {
    margin-top: 0;
}
