
.file-table-grid {
    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-columns: fit-content(250px);
    grid-column-gap: 8px;
}

.file-table {
    border-collapse: collapse;
    border-spacing: 0;
}

.file-table .new-tag-button {
    margin: 0;
    text-transform: none;
}

/* .file-table th {
    border-left: 1px solid rgba(0,0,0,.2);
}

.file-table th {
    border-top: 1px solid rgba(0,0,0,.2);
    background-color: rgba(0,0,0,.05);
} */

.remove-tag.md-button {
    width: 24px;
    min-width: 24px;
    height: 24px;
    margin: 0;
}

.remove-tag .md-icon {
    font-size: 16px !important;
}

.remove-tag .md-icon:hover {
    cursor: pointer;
}

.add-button-cell {
    display: none;
}

.has-add-button .add-button-cell {
    display: table-cell;
}

th:last-child {
    border-right: 1px solid rgba(0,0,0,.2);
}

.has-add-button th:last-child {
    border-right: none;
    border-top: none;
    background-color: #fff;
}

.file-table .top-part {
    margin-bottom: 16px;
}

.file-table-actions {
    text-align: right;
}

.file-table-actions .new-tag-button {
    text-transform: none;
}

.file-table-actions .finish-tag-button {
    text-transform: none;
    margin: 0;
}

.finish-tag-button-wrapper {
    display: inline-block;
}

.file-table-actions .tag-editor .md-field {
    margin: 0;
    padding-top: 0;
    min-height: 32px;
}

.file-table-actions .md-button .md-icon.done {
    color: #13bd13b4;
}

.file-table-actions .file-table-form {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    align-items: center;
}

.file-table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.multi-line-tag-value-editor {
    width: 100%;
    max-height: 400px;
}

.multi-line-tag-value-editor.formula {
    font-family: Consolas, "Courier New", monospace;
    letter-spacing: 0;
}

.multi-line-tag-value-wrapper {
    padding: 5px;
}

.multi-line-tag-value-wrapper > .md-field {
    margin-bottom: 0;
}