.tags-list-tag-value textarea {
    width: 100%;
    height: 30px;
    max-height: 30px;
    padding: 2px;
    vertical-align: top;
    border: none;
}

.tags-list-tag.selected > .tags-list-tag-value textarea {
    border: 2px solid #000;
    border-radius: 4px;
    padding: 0;
}

.tags-list-tag.selected > .tags-list-tag-value .original-bot-value textarea {
    border: 2px solid #000;
    border-radius: 4px 4px 0 0;
    padding: 0;
}

.tags-list-tag.selected > .tags-list-tag-value .modified-bot-value textarea {
    border: 2px solid #000;
    border-radius: 0 0 4px 4px;
    padding: 0;
}

.md-dialog.new-bot-dialog {
    z-index: 15;
}

.md-dialog.new-bot-dialog ~ .md-overlay {
    z-index: 14;
}

.delete-bot-button .md-icon.md-theme-default,
.delete-bot-button .md-icon.md-theme-dark {
    color: #fff;
}

.md-dialog.set-sheet-portal-dialog {
    z-index: 15;
}

.md-dialog.set-sheet-portal-dialog ~ .md-overlay {
    z-index: 14;
}
