.portal-card {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

.portal-card .md-card-content {
    padding: 0;
    height: 100%;
    width: 100%;
}

.system-portal {
    position: absolute;
    z-index: 13;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.md-button.md-fab.exit-portal.md-theme-default {
    background-color: #fff;
}

.md-button.exit-portal .md-icon.md-icon-font.md-theme-default {
    color: #333;
}

.exit-portal {
    position: absolute;
    bottom: 0;
    right: 0;

    margin-right: 18px;
    margin-bottom: 16px;
}

.items-list {
    flex: 0 0 200px;
    border-right: 1px solid var(--bot-cell-border-color);
    height: 100%;

    display: flex;
    flex-direction: column;
}

.items-list-header {
    background-color: var(--disabled-cell-color);
    border-top: 1px solid;
    border-bottom: solid 1px var(--bot-cell-border-color);
    flex: 0 0 auto;

    display: flex;
}

.items-list-header-option {
    flex: 0 0 auto;
    padding: 0 8px 0 8px;
    font-weight: 600;
    line-height: 22px;
}

.items-list-header-option.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.items-list-header-option:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.items-list .item {
    cursor: pointer;
    padding: 0 0 0 8px;
}

.items-list .item:hover {
    background-color: #eee;
}

.items-list .item.selected {
    background-color: #ddd;
}

.items-list-items {
    overflow: auto;

    /* override for browsers that support "overlay" */
    overflow: overlay;

    flex: 1 1 auto;
}

.items-list-items:hover {
    --scrollbar-thumb-background: rgba(0, 0, 0, 0.2);
}

.items-list-items::-webkit-scrollbar {
    background: transparent;
    width: 12px;
    height: 12px;
}

.items-list-items::-webkit-scrollbar * {
    background-color: transparent;
}

.items-list-items::-webkit-scrollbar-track {
    background: transparent;
}

.items-list-items::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-background);
}

.items-list-items::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}

.filter-field {
    margin-top: 0;
}

.search-tags {
    margin-left: 24px;
    margin-top: 4px;
}

.search-tags-toggle {
    cursor: pointer;
}

.filter-bots-input,
.search-tags-input {
    border: none;
    height: 24px;
    width: 100%;
}

.search-input-container {
    flex: 0 0 auto;
    padding: 0 8px;
}

.search-input {
    width: 100%;
}

.search-item-hint {
    white-space: nowrap;
    font-family: Consolas, 'Courier New', monospace;
    font-weight: normal;
    font-size: 14px;
}

.search {
    flex: 0 1 auto;
    border-right: 1px solid #000;
    padding: 8px;
    background-color: var(--disabled-cell-color);
    min-width: 200px;

    display: flex;
    flex-direction: column;
}

.search-list {
    flex: 1 1 auto;
    overflow: auto;
    margin-top: 8px;
}

.search-area-title,
.search-area-bot-title {
    font-weight: 700;
}

.search-area-bot {
    padding-inline-start: 8px;
}

.search-area-bot > .mini-bot {
    display: inline-block;
    padding: 0;
    border-bottom: none;
}

.search-area-bot > .mini-bot > .mini-bot-search {
    width: 32px;
}

.search-area-bot > .mini-bot > .mini-bot-search > img {
    width: 32px;
    height: 32px;
}

.search-area-tag {
    padding-inline-start: 32px;
}

.search-area-match {
    padding-inline-start: 16px;
    font-family: Consolas, 'Courier New', monospace;
}

.search-area-match:hover {
    background-color: #eee;
    cursor: pointer;
}

.search:hover .search-area-bot {
    border-left: 1px solid #999;
    padding-inline-start: 7px;
}

/* .search:hover .search-area-tag {
    border-left: 1px solid #999;
    padding-inline-start: 31px;
} */

.search:hover .search-area-match {
    border-left: 1px solid #999;
    padding-inline-start: 15px;
}

.search-extra {
    flex: 99 0 auto;
}

.panes {
    display: flex;
    width: 100%;
    height: 100%;
}

.areas {
    flex: 0 1 auto;
    border-right: 1px solid #000;
    padding: 8px;
    padding-top: 0;
    background-color: var(--disabled-cell-color);
    min-width: 200px;

    display: flex;
    flex-direction: column;
}

.tags {
    flex: 0 0 160px;
    border-right: 1px solid #000;
    background-color: var(--disabled-cell-color);
    display: flex;
    flex-direction: column;
}

.editor {
    flex: 1 1 1px;
}

.pane-options {
    display: flex;
    flex-direction: column;
    background-color: #d5d5d5;
}

.pane-options .md-icon-button {
    margin: 0;
    width: 100%;
    height: 100%;
}

.pane-selection {
    width: 48px;
    height: 48px;
}

.pane-selection.selected {
    border-left: 3px solid #333;
    background-color: rgba(0, 0, 0, 0.1);
}

.pane-selection.selected .md-icon-button {
    margin-left: -3px;
}

/* .pane-options > button + button {
    margin: 0 6px;
} */

.pane-icon {
    width: 24px;
    height: 24px;
    fill: #333;
    color: #333 !important;
}

.area {
    /* display: flex;
    gap: 4px; */
}

.area-title {
    font-weight: 600;
    font-size: 16px;
}

.area-bots {
    /* flex: 1 1 auto; */
    /* text-align: end; */
}

.areas-list {
    flex: 1 1 auto;
    overflow: auto;
}

.filter {
    flex: 0 0 auto;
}

.areas-add-bot {
    flex: 99 0 auto;
}

.md-button.create-bot {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.area-bot {
    padding-inline-start: 8px;
    line-height: 32px;
}

.area-bot:hover {
    background-color: #eee;
    cursor: pointer;
}

.area-bot > .mini-bot {
    display: inline-block;
    padding: 0;
    border-bottom: none;
}

.area-bot.selected {
    background-color: #ddd;
}

.sort-option-button {
    min-width: 33px;
    flex: 0 0 auto;
}

.delete-bot-button {
    background-color: #ec4d4d !important;
}

.tags-list {
    flex: 1 1 auto;
    overflow: auto;
}

.tags-add-tag {
    flex: 99 0 auto;
}

.tags-sort-options {
    flex: 0 0 auto;
    border-top: 1px solid #000;
    display: flex;
}

.tags-sort-spacer {
    flex: 1 1 auto;
}

.tags-toggle {
    cursor: pointer;
    border-bottom: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.12);
    font-weight: 700;
}

/* .tags-list-tag > .tags-list-tag-value {
    background-color: #fff;
} */

/* .tags-list-tag.selected {
    background-color: rgba(0, 0, 0, 0.2);
} */

.tag-space {
    flex: 0 0 auto;
    font-size: 12px;
    color: #000;
    margin: -2px 4px;
    padding: 0 1px;
    background-color: rgba(0, 0, 0, 0.1);
    line-height: 26px;
}

.editor {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.editor .editor-wrapper {
    height: 100%;
    margin-top: 0;
    border-top: 0;
}

.editor-recents {
    flex: 0 0 42px;
    background-color: var(--disabled-cell-color);
    display: flex;
    flex-direction: row;
    padding: 4px;
    gap: 4px;
    overflow-x: hidden;
}

.editor-recents-item {
    flex: 0 0 auto;
    margin: 0;
    white-space: nowrap;
    text-transform: none;
}

.editor-recents-item.selected {
    border-bottom: 1px solid #2f8dfe;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.tag-owner {
    font-weight: 400;
    color: #999;
}

.editor-code {
    flex: 1 1 auto;
}

.pin-tag-button {
    width: calc(100% - 16px);
    margin: 8px;
}

.pin-tag-button img,
.pin-tag-button picture {
    width: 24px;
    height: 24px;
}

.bot-table-actions .finish-tag-button {
    text-transform: none;
    margin: 0;
}

.finish-tag-button-wrapper {
    display: inline-block;
}
