/* .json-content {
    margin-top: 16px;
    height: 100%;
    width: 100%;
    overflow: scroll;
} */

.tree-view-item-value-number {
    color: #00aa00;
    background: #fff;
}

.tree-view-item-value-boolean {
    color: #ff00aa;
    background: #fff;
}

.tree-view-item-value-string {
    color: #ff9900;
    background: #fff;
}

.tree-view-item-value-null {
    color: #333;
    background: #fff;
}

.tree-view-item-key {
    font-weight: bold;
}

.aux-debug .md-button {
    margin-top: 8px;
}
.aux-debug .md-button .md-icon {
    margin-right: 8px;
}
