
.files-header {
    margin-top: 0;
}

.game-view {
    position: relative;
}

@media(min-width: 1024px) {
    .info-card {
        max-width: 45% !important;
        width: fit-content;
    }
}

.info-card {
    max-width: 100%;
}

/* .info-card .md-card-content .file-table {
    margin: 0 -16px;
} */

.info-card .md-card-content {
    max-height: 550px;
    overflow-y: auto;
    padding: 8px 0;
}

.status-container {
    margin-top: 24px;
    text-align: center;
}

.md-checkbox.no-margin {
    margin: 0;
}

.context-menu {
    position: absolute;
    background-color: #fff;
}

.ui-container .outside-toggle {
    padding-top: 8px;
}

.no-files-message {
    text-align: center;
}