svg {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 2;
}

svg.open {
    pointer-events: none;
}

svg.closed {
    pointer-events: all;
}

svg > circle {
    stroke-width: 0;
    transition: stroke-width 2s linear, stroke 0.25s linear;
}

svg.open > circle {
    stroke-width: 0;
}

svg.closed > circle {
    stroke-width: 150;
}
