@import 'vue-material/dist/theme/engine';

@include md-register-theme(
    'default',
    (
        primary: md-get-palette-color(blue, A200),
        accent: md-get-palette-color(red, A200),
    )
);

@import 'vue-material/dist/theme/all';

:root {
    --md-theme-default-text-alternate-on-background: #999;
}

iframe {
    border: none;
}
