.tag-editor .md-field .md-prefix {
    padding-right: 0;
}

.tag-editor .md-field .md-prefix.hashtag {
    /* TODO: Replace with variable */
    color: #2f8dfe;
}

.tag-editor .md-field .md-prefix.event-name {
    /* TODO: Replace with variable */
    color: #fe772f;
}

.tag-editor-autofill-holder {
    /* TODO: Replace with variable */
    max-height: 30%;
}

.tag-editor-menu {
    z-index: 14;
}
