.login-form .md-card {
    margin: auto;
    min-width: 280px;
}

.guest-button {
    display: block;
    cursor: pointer;
}

.continue-as-guest-section {
    font-size: 12px;
}

.progress-section {
    text-align: center;
}
