.menu-header {
    margin: 16px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.show-navigation-button {
    position: absolute;
    left: 16px;
    top: 16px;
}

#app-game-container,
.main-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.vm-iframe-container {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.synced-checkmark {
    color: #13bd13b4 !important;
}

.not-synced-warning {
    color: #ff8a1cb4 !important;
}

.forced-offline-error {
    color: #ff1c1cb4 !important;
}

.md-list-item-container:not([disabled])
    .md-icon.md-theme-default.md-icon-font.nuke-everything-icon,
.md-list-item-container:not([disabled])
    .md-icon.md-theme-dark.md-icon-font.nuke-everything-icon {
    color: #ff1c1cb4;
}

.md-list.md-theme-default
    .nuke-site-item
    .md-list-item-container:not(.md-list-item-default):not([disabled]):hover,
.md-list.md-theme-dark
    .nuke-site-item
    .md-list-item-container:not(.md-list-item-default):not([disabled]):hover {
    background-color: #fc0e0eda;
    color: #eee;
}

.md-list-item-container:hover:not([disabled])
    .md-icon.md-theme-default.md-icon-font.nuke-everything-icon,
.md-list-item-container:hover:not([disabled])
    .md-icon.md-theme-dark.md-icon-font.nuke-everything-icon {
    color: inherit;
}

/* Only visible to screen readers */
.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.session-id {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px;
}

.md-title.clickable {
    cursor: pointer;
}

.qr-code-item {
    justify-content: center;
}

.qr-code-item canvas {
    margin: auto;
}

.qr-code-dialog .qr-code-container {
    display: flex;
    flex-flow: column;
    flex: 1;
    align-items: center;
    padding: 5px;
}

.barcode-container {
    text-align: center;
}

.barcode-scanner-dialog {
    text-align: center;
}

.qr-scanner-dialog .qr-scanner-container {
    display: flex;
    flex-flow: column;
    flex: 1;
    align-items: center;
    padding: 5px;
}

.md-switch.md-theme-default.md-checked.user-mode-toggle .md-switch-container,
.md-switch.md-theme-dark.md-checked.user-mode-toggle .md-switch-container {
    background-color: rgba(0, 0, 0, 0.38);
}

.md-switch.md-theme-default.md-checked.user-mode-toggle .md-switch-thumb,
.md-switch.md-theme-default:not(.md-checked).user-mode-toggle .md-switch-thumb {
    background-color: var(
        --md-theme-default-text-primary-on-background-variant,
        #777
    );
}

.md-switch.md-theme-dark.md-checked.user-mode-toggle .md-switch-thumb,
.md-switch.md-theme-dark:not(.md-checked).user-mode-toggle .md-switch-thumb {
    background-color: var(
        --md-theme-dark-text-primary-on-background-variant,
        #777
    );
}

.md-switch.md-theme-default.user-mode-toggle .md-ripple,
.md-toolbar.md-theme-default .md-title,
.md-toolbar.md-theme-default .md-icon {
    color: var(--md-theme-default-text-primary-on-background-variant, #777);
}

.md-switch.md-theme-dark.user-mode-toggle .md-ripple,
.md-toolbar.md-theme-dark .md-title,
.md-toolbar.md-theme-dark .md-icon {
    color: var(--md-theme-dark-text-primary-on-background-variant, #777);
}

.md-toolbar.md-theme-default {
    top: 8px;
    left: 8px;
    right: 8px;
    width: calc(100% - 16px);
    background-color: var(--md-theme-default-toolbarvariant, #fff);
    color: var(--md-theme-default-text-primary-on-background-variant, #777);
}

.md-toolbar.md-theme-dark {
    top: 8px;
    left: 8px;
    right: 8px;
    width: calc(100% - 16px);
    /* background-color: var(--md-theme-dark-toolbarvariant, #fff);
    color: var(--md-theme-dark-text-primary-on-background-variant, #777); */
}

.username-label {
    flex: 1;
}

.admin-badge {
    padding: 3px;
    float: right;
    border-radius: 3px;
    background-color: #f00;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}

.user-info {
    display: flex;
}

.md-dialog.alert-dialog {
    z-index: 15;
}

.md-dialog.alert-dialog ~ .md-overlay.md-dialog-overlay {
    z-index: 14;
}

.md-tooltip {
    z-index: 20;
}

.confirm-dialog {
    z-index: 20;
}

.md-dialog.confirm-dialog ~ .md-overlay.md-fixed.md-dialog-overlay {
    z-index: 19;
}

.hidden-livekit-tracks {
    pointer-events: none;
    width: 1px;
    height: 1px;
}

.md-dialog.not-authorized-dialog {
    z-index: 19;
}

.md-dialog.not-authorized-dialog ~ .md-overlay.md-fixed.md-dialog-overlay {
    z-index: 18;
}

.md-dialog.loom-dialog > .md-dialog-container {
    align-items: center;
    justify-content: center;
}

.loom-container {
    min-width: min(600px, 100vw);
    max-width: 80vw;
    max-height: 80vh;
}

.vm-iframe-container iframe:first-child {
    display: block;
}

.vm-iframe-container.game-view-visible iframe:first-child {
    display: none;
}

.vm-iframe-container iframe {
    display: none;
}
