.html-iframe {
    position: absolute;
    border: none;
    width: 100%;
    height: 100%;
}

.html-iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 300px;
}

@media (min-width: 600px) {
    .html-iframe-container {
        min-width: 75vw;
        min-height: 60vh;
    }
}

.md-dialog {
    overflow: auto;
}
