.md-dialog.not-authorized-dialog,
.md-dialog.account-info-dialog {
    z-index: 19;
}

.md-dialog.not-authorized-dialog ~ .md-overlay.md-fixed.md-dialog-overlay,
.md-dialog.account-info-dialog ~ .md-overlay.md-fixed.md-dialog-overlay {
    z-index: 18;
}

.avatar {
    background-color: #999;
    color: #fff;
    margin: auto;
    width: 60px;
    min-width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 50%;
}

.avatar-padding {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.avatar img {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
}

.text-center {
    text-align: center;
}

.show-account-info-title {
    display: flex;
    align-items: center;
}

.spacer {
    flex: 1 1 auto;
}
