.terms-of-service-wrapper {
    display: flex;
    align-items: center;
}

.terms-of-service-error {
    color: #c93131;
}

.enter-address-form {
    display: flex;
    flex-direction: column;
}

.spacer {
    flex: 1 1 auto;
}
