.menu-bot-content {
    width: 100%;
}

.menu-bot-text {
    overflow-wrap: break-word;
    font-size: 16px;
    flex: 1 1 auto;
    line-height: 24px;
}

.menu-bot.md-list-item > .md-list-item-button {
    height: 100%;
}

.menu-bot .md-icon.md-theme-default {
    color: inherit;
}

.menu-bot-icon {
    display: inline;
}

.menu-bot-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.menu-bot-icon > svg {
    display: inline;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.menu-bot-progress {
    float: right;
}

.menu-bot-input {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.md-field.menu-input::before {
    background-color: var(--menu-label-color);
}

.md-field.menu-input.md-focused label {
    color: var(--menu-label-color);
}

.md-field.menu-input.md-focused .md-field {
    color: var(--menu-label-color);
}

.input-form .md-list-item-container {
    height: 100%;
}

.md-list.md-theme-default
    .menu-bot.md-list-item.no-hover
    .md-list-item-container:not(.md-list-item-default):not(.md-list-item-expand):not([disabled]):hover {
    color: var(
        --md-theme-default-text-primary-on-background,
        rgba(0, 0, 0, 0.87)
    );
    background-color: transparent;
}

.menu-bot.md-list-item.no-hover
    .md-list-item-button.md-list-item-container
    > .md-list-item-content {
    cursor: auto;
}

.menu-bot {
    touch-action: none;
}
