.loading-dialog {
    color: gray;
}

.loading-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 8px 0;
}

.error-text-content {
    align-items: normal;
    text-align: left;
    padding: 0.5em 1.8em 0em;
}

.loading-text-content h1 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.02em;
    margin-block-end: 0em;
}

.tagline {
    margin-top: 8px;
}

.loading-text-content p {
    margin-block-start: 0.67em;
    font-size: 14px;
    color: darkgray;
}

.loading-progress h1 {
    float: left;
}

.loading-dialog .md-progress-bar.md-theme-default.md-determinate {
    background-color: rgba(128, 128, 128, 0.22);
}

.loading-error h1 {
    color: rgb(210, 97, 97);
}

.loading-error p {
    color: rgb(189, 76, 76);
}

.version {
    width: 100%;
    color: #999;
    text-align: center;
    font-size: 12px;
    padding: 8px 0;
}
