:root {
    --disabled-cell-color: #f2f2f2;
    --inactive-cell-color: #9d9d9d;
    --bot-cell-border-color: #ccc;
    --bot-cell-border: 1px solid var(--bot-cell-border-color);
}

.bot-table-grid {
    display: inline-grid;
    grid-gap: 1px;
    background-color: var(--bot-cell-border-color);
    border: var(--bot-cell-border);
}

.bot-table-grid.columns {
    grid-auto-flow: column;
    grid-auto-columns: fit-content(250px);
}

.bot-table-grid.rows {
    grid-auto-flow: row;
}

.bot-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
}

.bot-table .hidden-button {
    margin: 0px 0px 0px 4px;
    text-transform: none;
}

.bot-table-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bot-table-middle {
    flex: 0 0 0px;
    overflow: visible;
    position: relative;
}

.bot-cell.header {
    background-color: var(--disabled-cell-color);
    padding: 4px;
    /* border-top: var(--bot-cell-border); */
}

.bot-section {
    display: inline-block;
    margin: 1px 1px 1px 0px;
    /* border-top: var(--bot-cell-border); */
}

.bot-section.active {
    text-transform: none;
    background-color: var(--disabled-cell-color);
    padding: 1px;
    display: inline-block;
    border-radius: 3px;
    font-size: 11px !important;
    min-width: 30px;
    height: 25px;
    /* border-top: var(--bot-cell-border); */
}

.bot-section.inactive {
    text-transform: none;
    background-color: var(--inactive-cell-color);
    padding: 1px;
    display: inline-block;
    border-radius: 3px;
    font-size: 11px !important;
    min-width: 30px;
    height: 25px;
    /* border-top: var(--bot-cell-border); */
}

.bot-section-holder-outer {
    height: 40px;
    width: 100%;
    padding-top: 3px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.bot-section-holder-inner {
    white-space: nowrap;
}

.bot-cell.id {
    font-weight: 700;
    overflow-x: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.bot-cell.remove-item {
    text-align: center;
    background-color: var(--disabled-cell-color);
}

.bot-cell.remove-item .md-button {
    margin: 0;
}

.bot-cell.delete-item {
    text-align: center;
    background-color: var(--disabled-cell-color);
}

.bot-cell.delete-item .md-button {
    margin: 0;
    vertical-align: initial;
    height: 100%;
}

.delete-bot-icon {
    font-size: 1.3rem !important;
}

.bot-cell textarea {
    width: 100%;
    height: 30px;
    max-height: 30px;
    padding: 2px;
    border: none;
}

.bot-cell.value {
    height: 0;
}

.bot-cell.new-tag {
    text-align: center;
    background-color: var(--disabled-cell-color);
}

.bot-cell.new-tag .md-button {
    margin: 0;
    width: 100%;
}

.bot-cell.new-tag picture,
.bot-cell.new-tag img {
    width: 24px;
    height: 24px;
}

.remove-tag.md-button {
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin: 0;
}

.remove-tag .md-icon {
    font-size: 16px !important;
}

.remove-tag .md-icon:hover {
    cursor: pointer;
}

.add-button-cell {
    display: none;
}

.has-add-button .add-button-cell {
    display: table-cell;
}

th:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.has-add-button th:last-child {
    border-right: none;
    border-top: none;
    background-color: #fff;
}

.bot-table .top-part {
    margin-bottom: 16px;
}

.bot-table-actions {
    text-align: right;
    flex: 1 0 auto;
}

.bot-table-actions .new-tag-button {
    text-transform: none;
}

.bot-table-actions .finish-tag-button {
    text-transform: none;
    margin: 0;
}

.finish-tag-button-wrapper {
    display: inline-block;
}

.top-part {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
}

.bot-table-toggle-buttons {
    flex: 2 0 auto;
}

.bot-table-form .tag-editor .md-field {
    margin: 0;
    padding-top: 0;
    min-height: 32px;
}

.bot-table-form .md-button .md-icon.done {
    color: #13bd13b4;
}

.bot-table-form .bot-table-form {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}

.bot-table-wrapper {
    width: 100%;
    overflow: auto;
    padding-left: 0;
    flex: 1 1 auto;
}

.no-search-results-message {
    text-align: center;
    flex: 1;
}

.no-bots-message {
    text-align: center;
    padding: 0 16px;

    flex: 1;
}

.search-field {
    margin-top: 0;
    margin-left: 8px;
}

.search-results-wrapper {
    padding: 0 8px;
    flex: 1;
}

.md-button.create-bot .md-button-content {
    width: 24px;
    height: 24px;
}

.md-button.md-fab.exit-sheet.md-theme-default {
    background-color: #fff;
}

.md-button.exit-sheet .md-icon.md-icon-font.md-theme-default {
    color: #333;
}

.exit-sheet {
    position: absolute;
    bottom: 0;
    right: 0;

    margin-right: 18px;
    margin-bottom: 16px;
}

.create-surface svg {
    color: #888;
}

.md-checkbox {
    display: flex;
}
