
.mini-file {
    padding: 5px;
    border-bottom: 1px solid transparent;
    text-align: center;
    user-select: none;
}

.mini-file:hover {
    cursor: pointer;
}

.mini-file.active {
    border-bottom: 1px solid #000;
}

.mini-file-text {
    background-color: #fff;
}

.mini-file-cube {
    width: 48px;
}

.mini-file-cube.large {
    width: 64px;
}

.mini-file-cube .mini-file-img {
    background-color: transparent;
    /* border: 1px solid #000; */
    height: 48px;
}

.mini-file-cube.large .mini-file-img {
    height: 64px;
}

.mini-file-cube .mini-file-text {
    max-width: 100%;
    max-height: 32px;
    line-height: 16px;
    overflow: hidden;
}