.bots-header {
    margin-top: 0;
}

.game-view {
    position: relative;
}

@media (min-width: 1024px) {
    .info-card {
        max-width: 45vw !important;
        min-width: 35%;
        width: fit-content;
        position: absolute;
        left: auto;
        right: 0px;
    }
}

.info-card {
    max-width: 100%;
}

.info-card.maximized {
    max-width: 100% !important;
    width: 100%;
    height: 100%;
    position: absolute;
    left: auto;
    right: 0px;
}

/* .info-card .md-card-content .bot-table {
    margin: 0 -16px;
} */

.info-card .md-card-content {
    max-height: 560px;
    overflow-y: visible;
    padding: 0;
}

.info-card.maximized .md-card-content {
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
}

.status-container {
    margin-top: 24px;
    text-align: center;
}

.md-checkbox.no-margin {
    margin: 0;
}

.context-menu {
    position: absolute;
    background-color: #fff;
}

.ui-container .outside-toggle {
    padding-top: 8px;
}

.no-bots-message {
    text-align: center;
}
